* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 350px;
	height: 440px;
	background-color: #EFEFEF;
}

header {
	width: 100%;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	padding: 10px;
	background-color: white;
}

#logo {
	width: 100px;
	margin-left: 20px;
}

#graphBox {
	width: 250px;
	height: 250px;
	margin: auto;
	margin-top: 15px;
}

h2 {
	text-align: center;
	margin-top: 25px;
}

#links {
	padding: 0px 50px;
	margin-top: 20px;
}

#logout {
	float: right;
}

a {
	color: black;
	transition: .5s;
}

a:hover {
	color: #676767;
}